<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>


<appender name="mylog-app" class="org.apache.log4j.FileAppender">
<param name="File" value="C:\\DOCUMENTI\\miobatch_log.txt"/>
		<param name="Append" value="true"/>
		<param name="BufferSize" value="8192"/>	
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%m]%n"/>
		</layout>
</appender>


<appender name="mylog-app2" class="org.apache.log4j.FileAppender">
<param name="File" value="C:\\DOCUMENTI\\miobatch_ERROR_log.txt"/>
		<param name="Append" value="true"/>
		<param name="BufferSize" value="8192"/>	
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%m]%n"/>
		</layout>
</appender>


<logger name="MYLOG">
<level value="DEBUG"/>
<appender-ref ref="mylog-app"/>
</logger>

<logger name="MYLOGERROR">
<level value="DEBUG"/>
<appender-ref ref="mylog-app2"/>
</logger>

</log4j:configuration>
